* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
}

h2 {
  font-family: "Instrument Serif", serif;
  font-weight: 400;
  font-size: 6rem;
  font-style: normal;
  color: black;
}

h3 {
  font-family: "Instrument Serif", serif;
  font-weight: 400;
  font-size: 3rem;
  font-style: normal;
}

p {
  line-height: 1.25;
}

label {
  font-family: "Instrument Serif", serif;
  font-weight: 100;
  font-size: 2rem;
  color: black;
  margin: 0;
}

select {
  font-family: "Instrument Serif", serif;
  font-weight: 100;
  font-size: 2rem;
  color: black;
  background-color: #ffffff02;
  padding: 16px;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}
